/*hepsinin özelliklerini sıfırla */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  transition: .3s
  ;
}

/* header */

header {
  background: linear-gradient(rgba(5, 5, 30, 0.5), rgba(5, 5, 30, 0.5)),
    url(images/university.jpeg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}
nav a img {
  width: 120px;
  opacity: 0.7;
  border: none;
  border-radius: 10px;
  margin-left: 25px;
}
.nav-links {
  flex: 1;
  text-align: right;
}

nav div ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  justify-content: flex-end;
  margin-right: 50px;
  flex-wrap: wrap;
}
nav div ul li a {
  text-decoration: none;
  font-size: 17px;
  color: white;
}
nav div ul li a::after {
  content: " ";
  background-color: red;
  display: block;
  width: 0;
  height: 3px;
  margin-top: 2px;
  margin-right: auto;
  margin-left: auto;
}
nav div ul li a:hover::after {
  width: 100%;
  transition: 0.3s;
}
.bi-list {
  color: white;
  font-size: 25px;
  margin-right: 25px;
  cursor: pointer;
  display: none;
}
.bi-list:hover {
  font-size: 30px;
  transition: 0.3s;
}

/* text box */

.text-box {
  color: white;
  width: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-box h1 {
  font-size: 55px;
}
.text-box p {
  margin: 10px;
  font-size: 20px;
}
.hero-btn {
  background-color: transparent;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #fff;
  color: white;
  display: inline-block;
  text-decoration: none;
  margin-top: 50px;
  box-sizing: border-box;
}
.hero-btn:hover {
  background-color: red;
  transition: 0.3s;
}

/* kurslar */

/* ortak kullanımlar */
.align-container {
  width: 80%;
  margin: auto;
  padding-top: 30px;
  text-align: center;
}
.row {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.align-item {
  flex-basis: 30%;
  background-color: antiquewhite;
  border-radius: 10px;
  margin-bottom: 10px;
}
section h1 {
  margin: 10px 0px;
}
.course-col {
  background-color: antiquewhite;
  padding: 15px 10px;
}
.course-col:hover {
  box-shadow: 0 0 10px gray;
  transition: 0.3s;
}
/* kampüsler */
.campu-col {
  padding: o;
  position: relative;
}
.campu-col img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.layer:hover {
  background-color: rgba(238, 206, 206, 0.546);
  transition: 0.3s;
}
.layer h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 25px;
  font-weight: 500;
  color: white;
  opacity: 0;
}
.layer:hover h3 {
  bottom: 50%;
  transition: 0.3s;
  opacity: 1;
}
/* yerleşkelerimiz */
.facilities-col {
  text-align: left;
}
.facilities-col img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.facilities-col h3 {
  margin: 10px;
}
.facilities-col p {
  padding: 10px;
}
/* yorumlar */
.testimonial-col {
  text-align: left;
  cursor: pointer;
  padding: 10px;
  display: flex;
}
.testimonial-col img {
  height: 50px;
  border-radius: 50%;
  padding-left: 10px;
  margin-right: 30px;
}
.testimonial-col p {
  padding: 0;
  margin: 10px;
}
.testimonial-col .bi {
  color: red;
}
.testimonial-col i {
  margin-bottom: 10px;
}
.yildiz {
  margin-left: 10px;
}
.ua {
  background: linear-gradient(rgba(5, 5, 30, 0.3), rgba(5, 5, 30, 0.5)),
    url(images/almanya.jpeg);
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
  border-radius: 10px;
  height: 300px;
  margin: 40px auto;
  text-align: center;
}
/* son kısım/hakkımızda/footer */
.footer {
  margin: 20px auto;
}
.footer h1 {
  margin-bottom: 10px;
}
.icons {
  margin: 0 10px;
  padding: 20px 10px;
  color: red;
  cursor: pointer;
  gap 10px
}
.icons .bi{
padding: 10px
;
} 
.bi-heart-fill{
  color: red;
  margin: 10px auto;
}

/* responsive */
@media (max-width: 675px) {
  .nav-links {
    display: none;
  }
  .bi-list {
    display: block;
  }
  .text-box h1 {
    font-size: 35px;
  }
  .text-box p {
    font-size: 15px;
  }
  .row {
    flex-direction: column;
  }
}
